:root {
  --default-font-family: "Poppins", sans-serif;
  --heading-font-family: "Eczar", serif;
  --light-slate: #a8b2d1;
  --fz-xxs: 12.5px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  /* font-family: "Playfair Display", serif; */
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

footer {
  margin: 60px 0;
}

footer .contact {
  margin: 100px 0;
}

footer .social-links a {
  margin: 0 20px;
  color: #212529;
  padding: 10px 16px;
  border: 1px solid #212529;
  border-radius: 50%;
  font-size: 18px;
  transition: var(--transition);
}

footer .social-links a:hover {
  color: #fff;
  background: #212529;
}

footer .social-links a:hover,
footer .social-links a:focus {
  transform: translateY(-3px);
}

footer .caption a {
  color: #212529;
  text-decoration: none;
  line-height: 1;
  font-size: var(--fz-xxs);
  transition: var(--transition);
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container {
  padding: 80px 20px;
}

.content {
  margin: 25px;
}

.content p,
li {
  font-size: 14px;
}

.btn-branding {
  color: #212529;
  border-radius: 4px;
  border: 1px solid #212529;
  font-size: 16px;
  line-height: 25px;
  padding: 14px 27px;
  transition: all 100ms ease-in-out;
}

.btn:hover {
  color: #9b6e98;
  border: 1px solid #9b6e98;
}

.projects-section {
  border: 1px solid #e1e1e1;
  border-radius: 10px;
}

.projects-section h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.first {
  background-color: #f2f6ff;
}

.second {
  background-color: #fef9f4;
}

.third {
  background-color: #f8f4fc;
}

.fourth {
  background-color: #f5fbf5;
  border-color: #c0f4b7;
}

.fifth {
  background-color: #fcf4f4;
  border-color: #fccccc;
}

.sixth {
  background-color: #f3fafe;
  border-color: #bde6fc;
}

.horizontal-line h2 {
  font-family: var(--heading-font-family);
  font-size: 1.5rem;
}

.horizontal-line h3 {
  color: #3a3a3a;
  font-family: var(--heading-font-family);
  font-size: 1.3rem;
  font-weight: normal;
}

.btn-branding-link {
  color: #212529;
  font-size: 18px;
  font-family: var(--heading-font-family);
}

.btn-branding-link:hover {
  color: #9b6e98;
}

.contact-section {
  padding: 0 400px;
}

.heading-7 {
  /* display: block;
  margin-bottom: 3px; */
  color: #999;
  font-size: 15px;
  font-weight: 500;
  /* line-height: 24px; */
}

.body-paragraph {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  order: -1;
  color: #272727;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.body-paragraph.high-emphasis {
  display: inline-block;
  margin-bottom: 2px;
  font-weight: 700;
}

.body-paragraph.low-emphasis {
  display: inline;
  margin-left: 20px;
  padding-left: 0px;
  color: #666;
}

.fa-linkedin {
  padding-left: 1px;
  padding-right: 1px;
}
